.profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 40%;
    }
}
// .header-contratos {
//     margin-bottom: 20px;
//     .mat-icon {
//         vertical-align: middle;
//         margin-right: 20px;
//     }
//     .form-add {
//         min-width: 90px;
//         max-width: 90px;
//         width: 100%;
//         margin-left: 20px;
//     }
//     .form-search {
//         min-width: 200px;
//         max-width: 200px;
//         width: 100%;
//         margin-left: 20px;
//     }
//     .form-full-width-add {
//         width: 90px;
//     }
//     .form-full-width-search {
//         width: 90px;
//     }
//     .mat-raised-button{
//         margin: 5px;
//     }
// }
