<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Porto Seguro</h2>
      <h4>contato@interchains.net</h4>
      <img src="../../../../assets/img/porto-seguro.jpg" alt="Teste">
    </div>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Painéis</h2>
  <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>Controle
  </a>
  <a mat-list-item [routerLink]="['/posts']" routerLinkActive="list-item-active">
    <mat-icon>table_chart</mat-icon>Tabela
  </a>
  <mat-divider></mat-divider>
  <!-- <h2 matSubheader>Participantes</h2>
  <a mat-list-item [routerLink]="['/compras']" routerLinkActive="list-item-active">Compras</a>
  <a mat-list-item [routerLink]="['/fabricante']" routerLinkActive="list-item-active">Fabricante</a>
  <a mat-list-item [routerLink]="['/transportadora']" routerLinkActive="list-item-active">Transportadora</a>
  <a mat-list-item [routerLink]="['/cd']" routerLinkActive="list-item-active">CD</a>
  <a mat-list-item [routerLink]="['/fornecedor']" routerLinkActive="list-item-active">Fornecedor</a> -->
  <!-- <a mat-list-item [routerLink]="['/uniforme']" routerLinkActive="list-item-active">Uniforme</a> -->
</mat-nav-list>