// Header
.header-contrato-lote {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    flex-direction: row;
}
//Contrato
.contrato {
    display: flex;
    flex-direction: row;
}
.form-add {
    min-width: 170px;
    max-width: 170px;
    width: 100%;
    margin-left: 5px;
    flex: 1;
}
.form-full-width-add {
    width: 70px;
}

.contrato > p {
    padding: 4px;
}
//Lote
.lote {
    display: flex;
    flex-direction: row;
}
.lote > p {
    padding: 4px;
}
//Common
.mat-icon {
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.form-search {
    min-width: 260px;
    max-width: 260px;
    width: 100%;
    margin-left: 5px;
}

.form-full-width-search {
    width: 60px;
}
.mat-raised-button {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin: 0px;
}

//Cards

.stats-cards {
    background: #ddd;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    transition: 1s;
    display: flex;
    flex: 1;
    flex-basis: 18%;
    max-width: 250px;
}
.card:hover {
    transform: scale(1.1);
    background: #ffffff;
    box-shadow: 2px 2px 2px darkgray;
    z-index: 2;
}

.mat-card-avatar-compras {
    background-image: url("../../../../../assets/img/avatar-compras.png");
    background-size: cover;
}
.mat-card-avatar-fabricante {
    background-image: url("../../../../../assets/img/avatar-fabricante.png");
    background-size: cover;
}
.mat-card-avatar-transportadora {
    background-image: url("../../../../../assets/img/avatar-transportadora.png");
    background-size: cover;
}
.mat-card-avatar-cd {
    background-image: url("../../../../../assets/img/avatar-cd.png");
    background-size: cover;
}
.mat-card-avatar-fornecedor {
    background-image: url("../../../../../assets/img/avatar-fornecedor.png");
    background-size: cover;
}

//Content

.card-content {
    display: flex;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
}
.card-img {
    width: 100%;
    height: 200px;
    display: flex;
}
.mat-card-img {
    justify-content: space-around; /* horizontal centering */
    align-items: center; /* vertical centering */
    max-width: 100%;
    width: 100%;
    height: 195px;
    object-fit: contain;
    object-position: center;
}
.card-details-title {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}
.card-details {
    width: 100%;
    height: 160px;
    flex-direction: column;
    justify-content: center;
}

.card-details > p > b {
    color: #4527a0;
}

// Actions

.mat-card-actions {
    flex: 1;
}
.mat-card-actions .flex-spacer {
    width: 100%;
}

@media (min-width: 600px) {
    .stats-cards {
        display: flex;
        justify-content: space-around;
    }
}
