<div class="dialog">
    <h2 class="header-dialog" mat-dialog-title>Blockchain</h2>
    <mat-divider></mat-divider>
    <mat-dialog-content class="mat-dialog-content">
        <p><b>Participante:</b> {{asset_owner}}</p>
        <p><b>Id Digital:</b> {{fingerprint}}</p>
        <p><b>Transação:</b> {{txId}}</p>
        <p><b>Timestamp:</b> {{timestamp}}</p>
    </mat-dialog-content>
    <mat-dialog-actions class="button-dialog">
        <button class="mat-raised-button" mat-raised-button color="primary" mat-dialog-close="true">Fechar</button>
    </mat-dialog-actions>
</div>